In [1]:
print(123121132132132, sep=)

SyntaxError: invalid syntax (526929077.py, line 1)

In [2]:
"a " + 5

TypeError: can only concatenate str (not "int") to str

In [3]:
123456123456

123456123456

In [4]:
print("hello")

hello

In [5]:
m

h

'1'

1

NameError: name 'm' is not defined

Tipe data python

- integer: angka bulat 
- floats: angka desimal
- string: kumpulan karakter
- boolean: true/false
- list: array (kumpulan dari data)

# Integers

In [6]:
1

1

In [7]:
type(1)

int

In [8]:
print(type(1))

<class 'int'>

# Floats

In [9]:
10.5

10.5

In [10]:
type(10.5)

float

In [11]:
12.3
type(12.3)

float

In [12]:
print(2.3)
print(type(2.3))

2.3
<class 'float'>

In [13]:
0.2 == .2

True

In [14]:
0.5555
.5555

0.5555

In [15]:
5e2

500.0

In [16]:
5e-2

0.05

# String

In [17]:
k

NameError: name 'k' is not defined

In [18]:
""
''

''

In [19]:
"kasur"

'kasur'

In [20]:
'hello'

'hello'

In [21]:
"kasur'

SyntaxError: unterminated string literal (detected at line 1) (227749041.py, line 1)

In [22]:
"I'm going to the movies"

"I'm going to the movies"

In [23]:
'I'm going to the movies'

SyntaxError: unterminated string literal (detected at line 1) (2786085319.py, line 1)

In [24]:
"Budi berkata, "halo, apa kabar?""

SyntaxError: invalid syntax (1730508988.py, line 1)

In [25]:
'Budi berkata, "halo, apa kabar?"'

'Budi berkata, "halo, apa kabar?"'

In [26]:
type("hello world")

str

In [27]:
print(type("hello world"))

<class 'str'>

# Boolean

In [28]:
True

True

In [29]:
False

False

In [30]:
type(True)

bool

In [31]:
type(False)

bool

In [32]:
true

NameError: name 'true' is not defined

In [33]:
false

NameError: name 'false' is not defined

# Variable

tempat untuk menyimpan data

- menggunakan A-Z, a-z, 0-9, _
- tidak bisa dimulai dengan angka
- tidak bisa pakai special karakter

In [34]:
x = 500

In [35]:
print(x)

500

In [36]:
x == "x"

False

In [37]:
print("x")

x

In [38]:
x! = 500

SyntaxError: invalid syntax (3910925352.py, line 1)

In [39]:
5x = 500

SyntaxError: invalid decimal literal (1240257932.py, line 1)

In [40]:
x5 = 500

In [41]:
print(x5)

500

In [42]:
x-5 = 500

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4048279955.py, line 1)

In [43]:
x_5 =500

In [44]:
int x = 500

SyntaxError: invalid syntax (4165307028.py, line 1)

In [45]:
x = 500
print(x)
print(type(x))

500
<class 'int'>

In [46]:
x = "smith"
print(x)
print(type(x))

smith
<class 'str'>

In [47]:
x = 40
y = 40
z = 40
print(x, y, z)

40 40 40

In [48]:
a = b = c = 40
print(a, b, c)

40 40 40

In [49]:
type(x)

int

In [50]:
nama_1 = "adi"
Nama_1 = "budi"
naMa_1 = "kyungsoo"

print(nama_1)
print(Nama_1)
print(naMa_1)

adi
budi
kyungsoo

In [51]:
namaMurid = "Doh Kyungsoo"

In [52]:
nama_murid = "Byun Baekhyun"

In [53]:
BiodataMurid = class()

SyntaxError: invalid syntax (3729609520.py, line 1)

# Operators

- (+) penjumlahan
- (-) pengurangan
- (/) pembagian (hasil float)
- (//) pembagian (hasil int)
- (*) pengalian
- (**) pangkat
- (%) mod (sisa pembagian)

In [54]:
print(a, b)

40 40

In [55]:
print (40 + 40)
print(a + b)
print(a - 30)

80
80
10

In [56]:
halo = 20
print(halo + 3)

23

In [57]:
halo = "goodbye"
print(halo + 6)

TypeError: can only concatenate str (not "int") to str

In [58]:
print(15 + 10.0)

25.0

In [59]:
print(50 / 5)
print(50 // 5)
print(50 // 8)

10.0
10
6

In [60]:
print(50 * 2)
print(50 * 2.5)

100
125.0

In [61]:
print(2 ** 5)
print(64 ** 0.5)

32
8.0

In [62]:
50 % 8

2

In [63]:
(2 + 40) * 3 - 2 ** (12 - 3)

-386

# Comparison

- (==)
- (!=)
- (<)
- (>)
- (<=)
- (>=)

In [64]:
x = 5

In [65]:
x == 5

True

In [66]:
x == "Hello"

False

In [67]:
x != "Hello"

True

In [68]:
x > "Hello"

TypeError: '>' not supported between instances of 'int' and 'str'

In [69]:
5 < 8

True

In [70]:
0 < "a"

TypeError: '<' not supported between instances of 'int' and 'str'

In [71]:
'0' < "a"

True

In [72]:
type("ars!@#:\|{><}")

str

In [73]:
"A" < "a"

True

In [74]:
"a" < "h"

True

In [75]:
print("ape" > "hotel")
print("ape" < "hotel")

False
True

In [76]:
print("hello" > "tv")
print("hello" < "tv")

False
True

In [77]:
True == True

True

In [78]:
True == False

False

In [79]:
True != False

True

In [80]:
False == False

True

# String

In [81]:
"a" + 5

TypeError: can only concatenate str (not "int") to str

In [82]:
"a" + "b"

'ab'

In [83]:
"a" * 5

'aaaaa'

In [84]:
print("jalan section A")
print("50 + 50 = ", 50 + 50)
print("=" * 80)
print("jalan section B")

jalan section A
50 + 50 =  100
================================================================================
jalan section B

In [85]:
print("foo" + "bar")

foobar

In [86]:
a = "sa"
b = "ya"
print(a + b)

saya

In [87]:
print("sa " * 5)

sa sa sa sa sa

In [88]:
a in "saya mau makan"

True

In [89]:
kalimat = "saYa mAu mAKan"

In [90]:
kalimat.capitalize()

'Saya mau makan'

In [91]:
kalimat.replace("a", "x")

'sxYx mAu mAKxn'

In [92]:
str.capitalize(kalimat)

'Saya mau makan'

In [93]:
kalimat.upper()

'SAYA MAU MAKAN'

In [94]:
kalimat.lower()

'saya mau makan'

In [95]:
kalimat.swapcase()

'SAyA MaU MakAN'

In [96]:
kalimat.title()

'Saya Mau Makan'

In [97]:
kalimat.

SyntaxError: invalid syntax (313715520.py, line 1)

# List

- daftar dari apa pun (str, float, int, dict, list)
- ngurut
- mutable
- bisa diakses dengan index
- [ ]

In [98]:
a = ["apel", "pisang", "durian", "jeruk", "semangka", "salak"]
b = ["mobil", "motor", "angkot", "bus"]

print(a)
print(b)

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']
['mobil', 'motor', 'angkot', 'bus']

In [99]:
c = ['apel', 45, True, ["merah", "biru", "hijau"]]

In [100]:
print(c[0])
print(c[1])
print(c[2])
print(c[3])

apel
45
True
['merah', 'biru', 'hijau']

In [101]:
a == b

False

In [102]:
a[2]

'durian'

In [103]:
0 1 2 3 4

SyntaxError: invalid syntax (324131258.py, line 1)

In [104]:
-5 -4 -3 -2 -1 0 1 2 3 4 5

SyntaxError: invalid syntax (424908502.py, line 1)

In [105]:
a   b  c  d  e  f
0   1  2  3  4  5
-6 -5 -4 -3 -2 -1

SyntaxError: invalid syntax (1295736661.py, line 1)

In [106]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [107]:
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])
print(a[0])
print(a[1])
print(a[2])
print(a[3])

durian
jeruk
semangka
salak
apel
pisang
durian
jeruk

In [108]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [109]:
a[0:2]
list[start (inclusive): stop(exclusive)]

NameError: name 'start' is not defined

In [110]:
a[0:2]

['apel', 'pisang']

In [111]:
0.2 == .2

True

In [112]:
a[3:5]

['jeruk', 'semangka']

In [113]:
a[0:3]

['apel', 'pisang', 'durian']

In [114]:
a[:3]

['apel', 'pisang', 'durian']

In [115]:
a[1:]

['pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [116]:
a[:-1]

['apel', 'pisang', 'durian', 'jeruk', 'semangka']

In [117]:
a[-3:]

['jeruk', 'semangka', 'salak']

In [118]:
a[:3]

['apel', 'pisang', 'durian']

In [119]:
a[2:-2]

['durian', 'jeruk']

In [120]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [121]:
a[2:5]

['durian', 'jeruk', 'semangka']

In [122]:
a[2:-1]

['durian', 'jeruk', 'semangka']

In [123]:
kalimat[3:-3]

'a mAu mA'

In [124]:
kalimat

'saYa mAu mAKan'

In [125]:
print(len(kalimat))
print(len(a))

14
6

In [126]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [127]:
print(len(c))

4

In [128]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [129]:
a[2] = "makanan"

In [130]:
a

['apel', 'pisang', 'makanan', 'jeruk', 'semangka', 'salak']

In [131]:
kalimat

'saYa mAu mAKan'

In [132]:
immutable vs mutable
str   vs        list

SyntaxError: invalid syntax (391920287.py, line 1)

In [133]:
kalimat[5] = "X"

TypeError: 'str' object does not support item assignment

In [134]:
a

['apel', 'pisang', 'makanan', 'jeruk', 'semangka', 'salak']

In [135]:
a[-2:] = [5, 8]

In [136]:
a

['apel', 'pisang', 'makanan', 'jeruk', 5, 8]

In [137]:
a[:3] = [2, 4]

In [138]:
a

[2, 4, 'jeruk', 5, 8]

# Tuples

- immutable
- ( )

In [139]:
buah_tup = ('apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak')

In [140]:
buah_tup[0] = "makanan"

TypeError: 'tuple' object does not support item assignment

# Dictionary

- list
- ( ) tuples
- { } dict
- pairing key dan value
- key harus unik
- mutable
- no indexing

In [141]:
buah_warna[0]

NameError: name 'buah_warna' is not defined

In [142]:
x = ['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak', 'salak', 'salak','salak',    'salak', 'apel']

In [143]:
x

['apel',
 'pisang',
 'durian',
 'jeruk',
 'semangka',
 'salak',
 'salak',
 'salak',
 'salak',
 'salak',
 'apel']

In [144]:
buah_warna = {"apel": "merah", "pisang": "kuning", "durian": "hijau", "salak": "coklat", 0: "aneh", "darah": "merah"}

In [145]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'aneh',
 'darah': 'merah'}

In [146]:
buah_warna[0]

'aneh'

In [147]:
buah_warna["apel"]

'merah'

In [148]:
buah_warna[0] = "diganti"

In [149]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah'}

In [150]:
buah_warna["oli"] = "hitam"

In [151]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'hijau',
 'salak': 'coklat',
 0: 'diganti',
 'darah': 'merah',
 'oli': 'hitam'}

In [152]:
biodata = {"nama": "kyungsoo", "umur": 30, "pasangan": "ayaa", "anak": ["majid", "kania"]}

In [153]:
biodata

{'nama': 'kyungsoo',
 'umur': 30,
 'pasangan': 'ayaa',
 'anak': ['majid', 'kania']}

In [154]:
biodata_list = ["kyungsoo", 30, "ayaa", ["majid", "kania"]]

In [155]:
biodata_list[1]

30

In [156]:
biodata["umur"]

30

In [157]:
sub_list = [
    {"nama": "kyungsoo", "umur": 30, "pasangan": "ayaa", "anak": ["majid", "kania"]},
    {"nama": "chanyeol", "umur": 31, "pasangan": "fitt", "anak": ["makan", "kamaj"]}
]

In [158]:
sub_list

[{'nama': 'kyungsoo',
  'umur': 30,
  'pasangan': 'ayaa',
  'anak': ['majid', 'kania']},
 {'nama': 'chanyeol',
  'umur': 31,
  'pasangan': 'fitt',
  'anak': ['makan', 'kamaj']}]

In [159]:
sub_list[1]["umur"]

31

In [160]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [161]:
c[3]

['merah', 'biru', 'hijau']

In [162]:
z = c[3]

In [163]:
z

['merah', 'biru', 'hijau']

In [164]:
z[1]

'biru'

In [165]:
c[3][1]

'biru'

In [166]:
z == c[3]

True

# Panjang Line

In [167]:
x = 5 + 10 \
    * 20
print(x)

205